<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="kent.chien.flutter_tappay_sdk">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>
